{% extends 'base.html' %}
{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static 'homepage/css/homepage.css' %}">
<div class="container">
  <div class="container d-flex align-items-center justify-content-center">
    <div class="card" style="height: 10rem;width: 30rem; margin-top:1rem; margin-bottom: 1rem;">
      <div class="card-body">
        <h5 class="card-title d-flex align-items-center justify-content-center">About</h5>
        <p class="card-text">This project is about using the Alpaca.Markets trading api to create a algorithmic trading system. That will buy and sell stocks based off of historical data.</p>
      </div>
    </div>
  </div>
  <div class="container d-flex align-items-center justify-content-center">
    <div class="card" style="height: 20rem; width: 30rem; margin-top:1rem; margin-bottom: 1rem;">
      <div class="card-body">
        <h5 class="card-title d-flex align-items-center justify-content-center">Data Analysis </h5>
        <p class="card-text">In this project the data analysis is pretty vanilla, as I am concerned about the legal ramifications of someone trying to use this system to trade real money.</p>
        <p class="card-text">With that said, I have created database tables that stores the mean of each minute. I have also derived the mean for each week days minute mean. Both tables have the fields of the minutes mean and the standardized mean for easy conversion for pricing. Although I am not using a pricing mechanism in this system.</p>
      </div>
    </div>
  </div>
  <div class="container d-flex align-items-center justify-content-center">
    <div class="card" style="height: 15rem; width: 30rem; margin-top:1rem; margin-bottom: 1rem;">
      <div class="card-body">
        <h5 class="card-title d-flex align-items-center justify-content-center">Data Source</h5>
        <p class="card-text">To retrieve the data, the application is connected to the alpaca.markets streaming service. The data consists of an agregate(open, high, low, close) of the minute by minute trades for Apple and Advanced Micro Devices. This is streamed from between 9:30 am to 4:00 pm eastern standard time.</p>
        </div>
    </div>
  </div>
  <div class="container d-flex align-items-center justify-content-center">
    <div class="card" style="height: 31rem; width: 30rem; margin-top:1rem; margin-bottom: 1rem;">
      <div class="card-body">
        <h5 class="card-title d-flex align-items-center justify-content-center">Visualizations</h5>
        <p class="card-text">For the actual visualizations, the page is made up of several different pieces that we have used throughout the class. There is a dropdown list for selecting which companies chart to view.</p>
        <p class="card-text">There are also three tables. One table that displays a cash balance, buying power and profits for the day.</p>
        <p class="card-text">Another table that shows which positions are held in which companies. The third and final table shows all the transactions made during the day. There is also a text box with this table that shows how many transactions have occurred during the day.</p>
        <p class="card-text">In the charts there are two simple moving averages. A 30 minute simple moving average and a 60 minute simple moving average. Both of which provides a smoothed visualization of a shorter more responsive trend line(3O ma) and a longer less responsive trend line(60 ma)</p>
      </div>
    </div>
  </div>
  <div class="container d-flex align-items-center justify-content-center">
    <div class="card" style="height: 20rem; width: 30rem; margin-top:1rem; margin-bottom: 1rem;">
      <div class="card-body">
        <h5 class="card-title d-flex align-items-center justify-content-center">Visualizations Color Scheme</h5>
        <p class="card-text">We are all unique and have our own characteristics. For instance, I have light colored eyes. Which are sensitive to bright lights. When I walk outside during the day I will squint constantly as the light bothers them.</p>
        <p class="card-text">It's the same thing when I sit at a computer all day staring at a screen that is emitting light. It strains my eyes.</p>
        <p class="card-text">So the color scheme that I chose to use mainly has this issue in mind. Using a dark blue background that is easy on my eyes and contrasting it with white, grey, yellow, green and red.</p>

      </div>
    </div>
  </div>
  <div class="container d-flex align-items-center justify-content-center">
    <div class="card" style="height: 15rem; width: 30rem; margin-top:1rem; margin-bottom: 1rem;">
      <div class="card-body">
        <h5 class="card-title d-flex align-items-center justify-content-center">Why is this Data Important?</h5>
        <p class="card-text">This data is important as it allows me to control my financial destiny by creating a trading algorithm that will make decisions based on the data for me.</p>
        <p class="card-text">However, there are many variables that go into the movements of stock prices. As is, this system is does not account for 99% of the other variables.</p>
      </div>
    </div>
  </div>
  <div class="container d-flex align-items-center justify-content-center">
    <div class="card" style="height: 15rem; width: 30rem; margin-top:1rem; margin-bottom: 1rem;">
      <div class="card-body">
        <h5 class="card-title d-flex align-items-center justify-content-center">Disclaimer</h5>
        <p class="card-text">This trading strategy is not meant to be used with real money.</p>
        <p class="card-text"> It is for demonstration purposes ONLY, using Alpaca.Markets PAPER TRADING API ONLY.</p>
        
        <a href="{% url 'real_time:real_time_page' %}" class="d-flex align-items-center justify-content-center">Go to Real Time Project</a>
      </div>
    </div>
  </div>

</div>
{% endblock %}
